
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookly - Thoughtful Hotel Booking</title>
    <link rel="stylesheet" href="css/bookly.css">
</head>
<body>
    <main>
        <div class="thanks-msg">
            <h1 class="font-bold my-4">Thanks for trusting us to reserve your hotel!</h1>
            <a class="cta-button" href="index.php">Go back to hompage</a>
        </div>
    </main>
</body>
</html>